.ais-subjects-wrapper {
  padding: 3em;
  display: flex;
  column-gap: 3em;
}
.ais-subjects-left {}
.ais_subjects-right {}

.node-ais-subject-analysis-form .layout-form {
  grid-template-columns: minmax(0,3fr) minmax(33rem,1fr);
}

