.ais-subjects-wrapper {
  padding: 3em;
  display: flex;
  column-gap: 3em;
}

.ais-subjects-wrapper > article {
  max-width: 49%;
  display: inline-flex;
  text-indent: -2em;
  padding-left: 2em;
}

.node-ais-subject-analysis-form .layout-form {
  grid-template-columns: minmax(0,3fr) minmax(28rem,1fr);
}

.is-subjects .form-submit:not(.field-add-more-submit)  {
  display: none;
}

.is-consensus-topic {
  text-decoration: underline black;
}

.is-antecedent-label, .is-antecedent {
  font-style: italic;
}
